* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(222, 224, 94);
}
header {
    display: block;
    color: rgb(1, 66, 1);
    width: 100vw;
    align-items: center;
    margin-top: 50px;
}

header h1 {
    font-family: "Titan One", sans-serif;
    padding: 2px 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

header h2 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    margin-bottom: 8px;
}

header h4 {
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}

form input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 250px;
    height: 30px;
}

form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    padding: 3px 5px;
}

table {
    background-color: rgb(241, 228, 105);
    width: 700px;
    margin: 25px auto;
    font-family: "Comfortaa", sans-serif;
}

#titulo-nome {
    text-align: center;
    font-family: "Titan One", sans-serif;
    font-weight: 100px;
    color: rgb(1, 66, 1);
    font-size: 17px;
}

#titulo-telefone {
    text-align: center;  
    font-family: "Titan One", sans-serif;
    font-weight: 100px;
    color: rgb(1, 66, 1);
    font-size: 17px;
}

tbody{
    text-align: center;
}
.dado-nome {
    text-align: center;
    font-size: 14px;
}

.dado-telefone {
    text-align: center;
    font-size: 14px;
}